.loader_overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000000dd;
  z-index: 9999;
  overflow: hidden;
}

.loader_overlay .loader {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

.loader_overlay .loader_text {
  animation: animatetext 1.5s infinite;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  font-weight: bolder;
}

@keyframes animatetext {
  0% {
    color: #97d9e1d1;
  }
  25% {
    color: #d9afd9;
  }
  75% {
    color: #97d9e1;
  }
  100% {
    color: #d9afd9d1;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_overlay .loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.loader_overlay .loader span:nth-child(1) {
  filter: blur(5px);
}

.loader_overlay .loader span:nth-child(2) {
  filter: blur(10px);
}

.loader_overlay .loader span:nth-child(3) {
  filter: blur(25px);
}

.loader_overlay .loader span:nth-child(4) {
  filter: blur(50px);
}

.loader_overlay .loader:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #97d9e1 0%, #d9afd9 100%);
  border: #ffffff7d 15px;
  border-style: dotted;
  border-radius: 50%;
}
