button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
  color: grey;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-outlined.MuiPaginationItem-rounded.Mui-selected.MuiPaginationItem-page.css-kvsszq-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
  background-color: rgb(210, 111, 45);
}

.order-item,
.titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 3fr 2fr 1fr;
  column-gap: 0.5rem;
}
.order-item {
  // border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.titles .product-title {
  padding-left: 0.5rem;
}

.status {
  justify-self: center;
}
.payment {
  justify-self: center;
}
.titles,
.detail {
  padding-right: 0.5rem;
  justify-self: right;
}

.order-item .order-product {
  display: flex;
  align-items: center;
}
.order-item .order-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.order-product-payment {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.order-product-status {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.order-product-detail {
  justify-self: right;
  font-size: 18px;
  color: #67bcee;
  font-family: "baloo-2";
  font-weight: 400;
}
